.dash-board-container {
    background-color: var(--light-yellow-accent-color);
    width: 80%;
    height: 80%;
    max-width: 1500px;
    max-height: 800px;
    position: relative;
    border: 10px solid var(--medium-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-board-container-1 {
    background-color: var(--medium-color);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: auto;
    max-width: 1500px;
    max-height: 1000px;
    position: relative;
    border: 10px solid var(--dark-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .dash-board-container-1 {
        max-width: 100%;
        margin: 0;
    }
    .message-container {
        max-width: 100%;
    }
}
