.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form-control {
    flex-grow: 1;
    min-height: 50px;
    display: flex;
    gap: 20px;
}

.message-input {
    width: 90%;
    background-color: var(--dark-color);
    color: var(--light-yellow-accent-color);
    height: 100%;
    font-size: 1.5em;
}

.send-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: xx-large;
    height: 100%;
    padding: 0;
    color: var(--light-yellow-accent-color);
}
