.single-message-container {
    display: flex;
    flex-direction: column;
}

.single-message {
    background-color: rgba(255, 255, 255, 0.2);
    width: 45%;
    padding: 16px 0 16px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}

.single-message-author {
    color: var(--lightest-yellow-accent-color);
    width: 45%;
    padding-left: 16px;
    transform: translateY(-0.2em);
}

.align-self-end {
    align-self: flex-end;
}

@media only screen and (max-width: 600px) {
    .single-message-container {
        padding: 6px;
    }
    .single-message {
        width: 100%;
    }

    .single-message-author {
        width: 100%;
    }
}
