.message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 85%;
}

.message {
    width: 100%;
}

.message > p {
    word-wrap: break-word;
}

.form-control {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    min-height: 150px;
}

.quill {
    width: 90%;
    background-color: var(--dark-color);
    color: var(--light-yellow-accent-color);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.ql-editor {
    max-height: 100%;
    overflow-y: hidden;
}

.send-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: xx-large;
    height: 100%;
    padding: 0;
    color: var(--light-yellow-accent-color);
}
